@import 'palette.scss';

$my-primary: (
  50: $blue-50,
  100: $blue-50,
  200: $blue-75,
  300: $blue-75,
  400: $blue-75,
  500: $blue,
  600: $blue,
  700: $blue,
  800: $blue,
  900: $blue,
  A100: $blue-50,
  A200: $blue-75,
  A400: $blue,
  A700: $blue,
  contrast: (
    50: $dark-grey,
    100: $dark-grey,
    200: $dark-grey,
    300: $dark-grey,
    400: $dark-grey,
    500: white,
    600: white,
    700: white,
    800: $light-grey,
    900: $light-grey,
    A100: $dark-grey,
    A200: white,
    A400: white,
    A700: white,
  )
);

$my-accent: (
  50: $amber-50,
  100: $amber-50,
  200: $amber-75,
  300: $amber-75,
  400: $amber-75,
  500: $amber,
  600: $amber,
  700: $amber,
  800: $amber,
  900: $amber,
  A100: $amber-50,
  A200: $amber-75,
  A400: $amber,
  A700: $amber,
  contrast: (
    50: $dark-grey,
    100: $dark-grey,
    200: $dark-grey,
    300: $dark-grey,
    400: $dark-grey,
    500: white,
    600: white,
    700: white,
    800: $light-grey,
    900: $light-grey,
    A100: $dark-grey,
    A200: white,
    A400: white,
    A700: white,
  )
);

$my-warn: (
  50: $red-50,
  100: $red-50,
  200: $red-75,
  300: $red-75,
  400: $red-75,
  500: $red,
  600: $red,
  700: $red,
  800: $red,
  900: $red,
  A100: $red-50,
  A200: $red-75,
  A400: $red,
  A700: $red,
  contrast: (
    50: $dark-grey,
    100: $dark-grey,
    200: $dark-grey,
    300: $dark-grey,
    400: $dark-grey,
    500: white,
    600: white,
    700: white,
    800: $light-grey,
    900: $light-grey,
    A100: $dark-grey,
    A200: white,
    A400: white,
    A700: white,
  )
);